<h1>Progress Status</h1>

<div class="flex-container space-between">
  <div class="status-box-left">
    <div class="flex-container space-between">
      <h4 class="subtitle" style="display: inline;">Downloading {{filesDatabase.data.length}} files</h4>
      <h4 class="subtitle" style="float: right; text-align: right; display: inline;">{{generalProgress}}%</h4>
    </div>

    <p-progressBar mode="determinate" class="progress-bar" [value]="generalProgress" [showValue]="false"></p-progressBar>

    <p class="aclaration">
      <small>Estimated remaining time: </small>
    </p>

    <div class="flex-container end actions">
      <button mat-raised-button (click)="pauseSelected()" class="button-secondary">
        <i class="material-icons">highlight_off</i>Cancel all</button>
      <button mat-raised-button (click)="resumeSelected()" class="button-primary">
        <i class="material-icons">pause_circle_outline</i>Pause all</button>
    </div>
  </div>

  <div class="status-box-right">
    <div class="flex-container space-between">
      <h4 class="subtitle">Uploading X of {{filesDatabase.data.length}} files</h4>
      <h4 class="subtitle">X%</h4>
    </div>

    <p-progressBar mode="determinate" class="progress-bar" [value]="5" [showValue]="false"></p-progressBar>

    <p class="aclaration">
      <small>Estimated remaining time: </small>
    </p>

    <div class="flex-container end actions">
      <button mat-raised-button (click)="pauseSelected()" class="button-secondary">
        <i class="material-icons">highlight_off</i>Cancel all</button>
      <button mat-raised-button (click)="resumeSelected()" class="button-primary">
        <i class="material-icons">pause_circle_outline</i>Pause all</button>
    </div>
  </div>
</div>

<mat-expansion-panel #expa class="expand-panel">

  <mat-expansion-panel-header>
    <mat-panel-title>{{ expa.expanded ? 'Hide detailed transfer list' : 'Show detailed download list'}}</mat-panel-title>
  </mat-expansion-panel-header>

  <!--Have to fix these features-->
  <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12" style="padding: 0;">
    <button mat-raised-button (click)="selectAll()" class="button-secondary">
      <i class="material-icons">check_box</i>Select all</button>
    <button mat-raised-button (click)="unselectAll()" class="button-secondary">
      <i class="material-icons">check_box_outline_blank</i>Select none</button>
    <button mat-raised-button (click)="toggleSelection()" class="button-secondary">
      <i class="material-icons">shuffle</i>Toogle selection</button>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="table-common">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 44px;"></mat-header-cell>
      <mat-cell *matCellDef="let row" style="flex: 0 0 44px;">
        <mat-checkbox #cbox color="primary" disableRipple></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 40%;"> Name </mat-header-cell>
      <mat-cell *matCellDef="let row" style="flex: 0 0 40%;"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="size">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Size </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.size | filesize}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="progress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <p-progressBar mode="determinate" class="progress-bar-small" [value]=row.progress [showValue]="false"></p-progressBar>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 85px; text-align: center;"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let row" style="flex: 0 0 85px;">
        <button mat-icon-button>
          <mat-icon aria-label="Cancel file download">highlight_off</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="Pause file download">pause_circle_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <!-- <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow($event, row);$event.stopPropagation()" [ngClass]="{'ui-table-row-selected': isSelected(row)}"></mat-row> -->
  </mat-table>

  <mat-paginator #paginator [length]="filesDatabase.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
    style="background: transparent; margin-bottom: 20px;">
  </mat-paginator>

  <div class="ui-toolbar-group-left">
    <!--Have to fix this feature-->
    <!-- <h4 class="subtitle">Selected Files {{ filesDatabase.selectedCount }} of {{ filesDatabase.totalCount }}</h4> -->
  </div>

  <div class="ui-toolbar-group-right">
    <button mat-raised-button (click)="pauseSelected()" class="button-secondary">
      <i class="material-icons">highlight_off</i>Cancel selection</button>
    <button mat-raised-button (click)="resumeSelected()" class="button-secondary">
      <i class="material-icons">pause_circle_outline</i>Pause selection</button>
    <!-- <button mat-raised-button (click)="retrySelected()" class="button-primary">
              <i class="material-icons">refresh</i>Retry selection</button> -->
    <!-- <button mat-raised-button (click)="abortSelected()" class="button-primary">
              <i class="material-icons">pause_circle_outline</i>Abort selection</button> -->
    <!-- <button mat-raised-button color="primary" (click)="stopAll()">
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">cloud_download</mat-icon>
    </button> -->
  </div>

</mat-expansion-panel>
