<ngx-spinner #spin bdOpacity="0.6" bdColor="#fff" size="medium" color="#1e88e5" type="ball-circus" style="z-index:10000"></ngx-spinner>

<h1>Progress Status</h1>
<div class="flex-container space-between">

  <div class="status-box">
    <app-status-box title="Downloaded:" storeName="downloads" cancelLabel='Cancel Download' (cancelRequest)="cancelDownloads()"></app-status-box>
  </div>

  <div class="status-box">
    <app-status-box title="Uploaded:" storeName="uploads" cancelLabel='Cancel Upload' (cancelRequest)="cancelUploads()"></app-status-box>
  </div>

  <div class="status-box">
    <app-status-box title="Exported to Google Cloud:" storeName="exportToGCS" cancelLabel='Cancel Export' (cancelRequest)="cancelExportsToGCP()"></app-status-box>
  </div>

  <div class="status-box">
    <app-status-box title="Exported to Amazon:" storeName="exportToS3" cancelLabel='Cancel Export' (cancelRequest)="cancelExportsToS3()"></app-status-box>
  </div>

</div>

<div class="position-relative">
  <div class="search-container search-container-transfers">
    <i class="material-icons">search</i>
    <mat-form-field class="search-input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
    </mat-form-field>
  </div>
</div>

<mat-tab-group class="tab-group" [selectedIndex]="selectedIndex">

  <mat-tab label="Downloads">
    <app-progress-tab storeName="downloads" [filter]="tabFilter">
    </app-progress-tab>
  </mat-tab>

  <mat-tab label="Uploads">
    <app-progress-tab storeName="uploads" [filter]="tabFilter">
    </app-progress-tab>
  </mat-tab>

  <mat-tab label="Exports to Google Cloud">
    <app-progress-tab storeName="exportToGCS" [filter]="tabFilter">
    </app-progress-tab>
  </mat-tab>

  <mat-tab label="Exports to Amazon S3">
    <app-progress-tab storeName="exportToS3" [filter]="tabFilter">
    </app-progress-tab>
  </mat-tab>

</mat-tab-group>