.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }