.actions {
  margin-top: 15px;
}

.export-icon-dark {
  content: url(../../../assets/export_to_cloud_grey.svg);
  width: 18px;
  height: 18px;  
  vertical-align: middle;
  margin-right: 5px;
}

.search-transfers-container {
  width: 25%;
  padding-left: 10px;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 9px;
}

.subtitle {
  line-height: 1.7rem;
}

.aclaration {
  font-size: 0.9rem;
  margin-bottom: 0;
  line-height: 1.7rem;
}
