<h2 mat-dialog-title>Where do you want to download to?</h2>

<mat-dialog-content>
  <div class="flex-container">
    <div class="browse-button">
      <label class="label-button" for="directorypicker">Browse...</label>
      <input type="file" id="directorypicker" (change)="directoryChanged($event)" style="display: none;" webkitdirectory directory
        multiple required/>
    </div>
    <p class="browse-location">{{directory}}</p>
  </div>
  <p-toolbar styleClass="toolbar-accent toolbar-modal">
    <div *ngIf="isLoading()">
      <h4  class="subtitle">Selected: {{filesCount}} files. Size: {{ filesSize | filesize}}</h4>
      <div class="warn">
        <p>Please wait, loading selected content</p>
        <div class="progress-dots modal">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>
    <h4 *ngIf="!isLoading()" class="subtitle">Selected: {{fileCount() | async}} files. Total size: {{totalSize() | async | filesize}}</h4>
  </p-toolbar>
</mat-dialog-content>

<mat-checkbox [checked]="preserveStructure" aria-label="Preserve folder structure" (change)="selectionChanged($event)" class="dialog-checkbox download"
  disableRipple>Preserve folder structure</mat-checkbox>
<p-messages class="error-messages" [(value)]="msgs"></p-messages>
<mat-dialog-actions>
  <button mat-raised-button [disabled]="isLoading() || disableButton" (click)="cancel()" class="button-secondary">Cancel</button>
  <button mat-raised-button [disabled]="!isValid || isLoading() || disableButton" (click)="startDownload()" class="button-primary">Start Download!</button>
</mat-dialog-actions>