<h2 mat-dialog-title>Where do you want to upload to?</h2>

<mat-dialog-content *ngIf="writableWorkspaces.length !== 0">
  <form role="form" id="uploadForm" name="uploadForm" [formGroup]="uploadForm">
    <div class="flex-container">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Select workspace..." [formControl]="workspaceCtrl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" [panelOpen]="false">
          <mat-option *ngFor="let workspace of filteredWorkspaces | async" [value]="workspace" [optionSelected]="changeWorkspace()">
            {{ workspace.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>

  <p-toolbar styleClass="toolbar-accent toolbar-modal upload">
    <h4 class="subtitle">Selected: {{fileCount()}} files.
      <span *ngIf="!isLoading()">Total size: {{ totalSize() | filesize}}</span>
      <span *ngIf="isLoading()">Size: {{ totalSize() | filesize}}</span>
    </h4>
    <div *ngIf="isLoading()" class="warn">
      <p>Please wait, loading selected content</p>
      <div class="progress-dots modal">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </p-toolbar>

  <div class="italic">Files will be stored into "Uploads" folder</div>
</mat-dialog-content>

<mat-checkbox [checked]="preserveStructure" aria-label="Preserve folder structure" (change)="selectionChanged($event)" class="dialog-checkbox"
  disableRipple>Preserve folder structure</mat-checkbox>
<p-messages class="error-messages" [(value)]="msgs"></p-messages>

<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()" class="button-secondary">Cancel</button>
  <button mat-raised-button (click)="uploadFiles()" [disabled]="disableUpload" class="button-primary">Start Upload!</button>
</mat-dialog-actions>