<p-growl [value]="msgs"></p-growl>

<button mat-raised-button (click)="selectAll()" class="button-secondary">
  <i class="material-icons">check_box</i>Select all</button>
<button mat-raised-button (click)="selectNone()" class="button-secondary">
  <i class="material-icons">check_box_outline_blank</i>Select none</button>
<button mat-raised-button (click)="expandAll()" class="button-secondary">
  <i class="material-icons">add_to_queue</i>Expand all</button>
<button mat-raised-button (click)="collapseAll()" class="button-secondary">
  <i class="material-icons">airplay</i>Collapse all</button>

<p-treeTable [value]="files" selectionMode="checkbox" [(selection)]="selectedFiles" styleClass="tree-table" (onNodeSelect)="nodeSelect($event)"
  (onNodeUnselect)="nodeUnselect($event)" [contextMenu]="cm">
  <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
</p-treeTable>

<p-toolbar styleClass="toolbar-accent" color="primary">
  <div class="ui-toolbar-group-left">
    <h3 class="subtitle">You have selected: {{ fileCount }} files </h3>
  </div>

  <div class="ui-toolbar-group-right">
    <button mat-raised-button (click)="selectionDone()" class="button-primary" [disabled]="fileCount <= 0">
      <i class="material-icons">vertical_align_bottom</i>Download selection</button>
  </div>
</p-toolbar>

<p-contextMenu #cm [model]="items"></p-contextMenu>
