@import '~@angular/material/theming';
@import 'fcExplorer-theme';
.fcExplorer-theme {
    @include angular-material-theme($fcExplorer-theme);
}

.col-select {
    flex: 0 0 40px;
    overflow: inherit;
}

.col-name {
    flex: 0 0 50%;
}

.col-name-text {
    display: inline-block;
    margin: 5px 0;
}

.col-name-text.workspace {
    font-size: 1rem;
    small {
        display: block;
    }
    span {
        font-weight: 700;
    }
}

.type-folder {
    cursor: pointer;
}

.type-folder:hover {
    color: mat-color($fcExplorer-accent);
}

.type-file {
    cursor: default;
}

.col-name mat-icon {
    font-size: 1.2rem;
    line-height: 1.5rem;
    vertical-align: middle;
    color: mat-color($fcExplorer-primary, 700);
}

.breadcrumb-container {
    width: 75%;
    padding-right: 15px;
}

.search-container {
    width: 25%;
}
