<div class="wrapper">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened="true" class="sidenav" *ngIf="isAuthenticated">
      <a class="sidenav-link" [routerLink]="['/file-download']" [routerLinkActive]="['active']">
        <mat-icon>file_download</mat-icon>
        <p>Download</p>
      </a>
      <!-- UNCOMMENT THE FOLLOWING LINES WHEN FILE-UPLOAD COMPONENT IS CREATED  -->
      <!-- <a class="sidenav-link" [routerLink]="['/file-upload']" [routerLinkActive]="['active']">
        <mat-icon>file_upload</mat-icon>
        <p>Upload</p>
      </a>-->
      <a class="sidenav-link" [routerLink]="['/status']" [routerLinkActive]="['active']">
        <mat-icon>schedule</mat-icon>
        <p>Status</p>
      </a>
    </mat-sidenav>

    <mat-sidenav-content>
      <header>
        <button mat-button *ngIf="isAuthenticated" [matMenuTriggerFor]="toolbarUserMenu" class="menu-item">
          Username <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()" class="submenu-item">Sign Out</button>
        </mat-menu>
      </header>

      <div class="content">
          <router-outlet></router-outlet>
      </div>        
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="footer">
    <div class="footer-signature">&#169; {{year}} - Broad Institute</div>
  </div>
</div>
