@import '~@angular/material/theming';
@import 'fcExplorer-theme';

.fcExplorer-theme {
    @include angular-material-theme($fcExplorer-theme);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
}

.mat-icon.help-icon {
  cursor: pointer;
  font-size: 1.4rem !important;
  transition: all 0.2s ease;
}

.mat-icon.help-icon:hover {
  color: mat-color($fcExplorer-primary, 400);
 }

.menu-item {
  margin: 0 25px 0 10px;
  padding: 0 5px 0 15px;
  text-align: right;
}

.menu-item,
.submenu-item {
  font-size: 0.85rem;
  font-weight: 300;
  background: white;
  border-radius: 0;
  transition: all 0.2s ease;
}

.menu-item:hover,
.submenu-item:hover {
  background: mat-color($fcExplorer-primary, 100);
}

.menu-item mat-icon {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.submenu-item {
  margin: 0;
  height: 20px;
  line-height: 20px;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  margin-bottom: -30px;

  .content {
    flex: 1 0 auto;
    padding: 0 25px 25px 25px;
    overflow: hidden;
    height: 95vh;
    position: relative;
  }
}

.footer {
  background-color: black;
  padding: 0 20px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;  
  position: absolute;  
  bottom: 0;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  
  .signature {
    color: white;
    font-size: 0.9rem;
    line-height: 2rem;
  }

  .forum-link {
    color: mat-color($fcExplorer-accent, 200);
    font-size: 0.9rem;
    line-height: 2rem;
    margin-right: 25px;
    transition: all 0.2s ease;

    :hover {
      color: mat-color($fcExplorer-accent);
    }
  }
}

.sidenav-link.export-to-cloud i {
  content: url(../assets/export_to_cloud_white.svg);
  width: 35px;
  height: 35px;
}

.sidenav-link.export-to-cloud p {
  margin-top: 0;
}