@import 'styles-variables';

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5vh;
}

.nav-button {
  margin: 0 10px 0 0;
}

.sign-in-button {
  line-height: 35px;
  margin-right: 10px;
}

.menu-item,
.submenu-item {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: right;  
}

.menu-item mat-icon {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.submenu-item {
  margin: 0;
  height: 20px;
  line-height: 20px;
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .nav-button {
    min-width: 0;
    padding: 0 10px;
  }
  .sign-in-button {
    min-width: 0;
    padding: 0 10px;
    margin: 0 5px 0 0;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  margin-bottom: -30px;

  .content {
    flex: 1 0 auto;
    padding: 0 25px 25px 25px;
    overflow: hidden;
    height: 95vh;
    position: relative;
  }
}

.footer {
  background-color: #000000;
  padding: 0 20px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;  
  position: absolute;  
  bottom: 0;
  z-index: 1;

  .footer-signature {
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 2rem;
  }
}