
  <div class="wrapper">
    <header>
      <div class="logo">
        <span>FC</span>Explorer
      </div>

      <nav>
        <button mat-button *ngIf="!isAuthenticated" (click)="onLoginClick()" class="menu-item">Sign In</button>
        <button mat-button *ngIf="isAuthenticated" [matMenuTriggerFor]="toolbarUserMenu" class="menu-item">
          <mat-icon>person</mat-icon> Username 
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()" class="submenu-item">Sign Out</button>
        </mat-menu>
      </nav>
    </header>

    <div class="content" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="footer-signature">&#169; {{year}} - Broad Institute</div>
      <img src="assets/broad_logo.svg" alt="Broad Institute logo" class="footer-logo"/>
    </div>
  </div>
  