@import 'styles-variables';

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
}

.nav-button {
  margin: 0 10px 0 0;
}

.sign-in-button {
  line-height: 35px;
  margin-right: 10px;
}

.menu-item,
.submenu-item {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: right;  
}

.menu-item mat-icon {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.submenu-item {
  margin: 0;
  height: 20px;
  line-height: 20px;
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .nav-button {
    min-width: 0;
    padding: 0 10px;
  }
  .sign-in-button {
    min-width: 0;
    padding: 0 10px;
    margin: 0 5px 0 0;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
    position: relative;
    padding: 0 25px 25px 25px;
  }

  .footer {
    background-color: #000000;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;  
    position: fixed;  
    bottom: 0;
    z-index: 1;

    .footer-signature {
      color: #ffffff;
      font-size: 0.9rem;
      line-height: 2rem;
    }
  }
}
