
$fc-primary: mat-palette($mat-blue, 500, 700, 800);
$fc-accent: mat-palette($mat-orange, A200);
$fc-warn: mat-palette($mat-red, 500);

$fc-theme: mat-light-theme(
    $fc-primary,
    $fc-accent,
    $fc-warn
);
