<h2 mat-dialog-title>Where do you want to export to?</h2>

<mat-dialog-content>
  <form role="form" id="exportForm" name="exportForm" [formGroup]="exportForm">

    <mat-radio-group formControlName="exportDestination">
      <mat-radio-button class="radio-block" id="exportToGCP" [value]="1">Google Cloud Platform</mat-radio-button>
      <div *ngIf="exportForm.get('exportDestination').value == 1" class="flex-container column">
        <mat-form-field class="full-width">
          <input matInput placeholder="Google Bucket Name" formControlName="bucketNameGCP" required>
          <mat-error>Please enter a Google Bucket Name</mat-error>
        </mat-form-field>
      </div>

      <mat-radio-button class="radio-block" id="exportToAWS" [value]="2">Amazon Web Services</mat-radio-button>
      <div *ngIf="exportForm.get('exportDestination').value == 2" class="flex-container column">
        <mat-form-field class="full-width">
          <input matInput placeholder="Access Key Id" formControlName="accessKeyIdAWS" required>
          <mat-error>Please enter your Access Key Id</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width ">
          <input matInput placeholder="Secret Access Key" formControlName="secretAccessKeyAWS" type="password" required>
          <mat-error>Please enter your Secret Access Key</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Amazon Bucket Name" formControlName="bucketNameAWS" required>
          <mat-error>Please enter an Amazon Bucket Name</mat-error>
        </mat-form-field>
      </div>
    </mat-radio-group>
  </form>
  <p-toolbar styleClass="toolbar-accent toolbar-modal">
    <div *ngIf="isLoading()">
      <h4  class="subtitle">Selected: {{filesCount}} files. Size: {{ filesSize | filesize}}</h4>
      <div class="warn">
        <p>Please wait, loading selected content</p>
        <div class="progress-dots modal">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>
    <h4 *ngIf="!isLoading()" class="subtitle">Selected: {{fileCount() | async}} files. Total size: {{totalSize() | async | filesize}}</h4>
  </p-toolbar>

  <div class="italic">Files will be stored into "Imports" folder</div>
</mat-dialog-content>

<mat-checkbox [checked]="preserveStructure" aria-label="Preserve folder structure" (change)="selectionChanged($event)" class="dialog-checkbox"
  disableRipple>Preserve folder structure</mat-checkbox>
<p-messages class="error-messages" [(value)]="msgs"></p-messages>

<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()" [disabled]="disableCancel || isLoading() || disable" class="button-secondary">Cancel</button>
  <button mat-raised-button (click)="exportFiles()" [disabled]="disableExportButton() || isLoading() || disable" class="button-primary">Start Export!</button>
</mat-dialog-actions>