<h2 mat-dialog-title>Where do you want to export to?</h2>

<mat-dialog-content>
  <form role="form" id="exportForm" name="exportForm" [formGroup]="exportForm">
    <div class="flex-container">
      <mat-form-field class="full-width">
        <input matInput placeholder="Google Bucket Name" formControlName="bucketNameGCP" required>
        <mat-error>Please enter a Google Bucket Name</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<p-toolbar styleClass="toolbar-accent toolbar-modal">
    <h4 class="subtitle">Selected: {{fileCount()}} files.
      <span *ngIf="!isLoading()">Total size: {{ totalSize() | filesize}}</span>
      <span *ngIf="isLoading()">Size: {{ totalSize() | filesize}}</span>
    </h4>
    <div *ngIf="isLoading()">
      <small>Please wait, loading selected content</small>
      <div class="progress-dots download-modal">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </p-toolbar>

<span class="italic">Files will be stored into "Imports" folder</span>

<mat-checkbox [checked]="preserveStructure" aria-label="Preserve folder structure" (change)="selectionChanged($event)" class="dialog-checkbox"
  disableRipple>Preserve folder structure</mat-checkbox>
<p-messages class="error-messages" [(value)]="msgs"></p-messages>

<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()" class="button-secondary">Cancel</button>
  <button mat-raised-button (click)="exportToGCPFiles()" [disabled]="!exportForm.valid || isLoading() || disable" class="button-primary">Start Export!</button>
</mat-dialog-actions>