
$fcExplorer-primary: mat-palette($mat-grey);
$fcExplorer-accent: mat-palette($mat-blue, 600, 200, 900);
$fcExplorer-warn: mat-palette($mat-red, 500, 50, 900);

$fcExplorer-theme: mat-light-theme(
    $fcExplorer-primary,
    $fcExplorer-accent,
    $fcExplorer-warn
);
