@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import 'default-theme.scss';
@import 'light-theme.scss';
@import 'black-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include fc-styles-reset-theme($theme);
  @include fc-app-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($fc-theme);
  @include custom-components-theme($fc-theme);
}

.light-theme {
  @include angular-material-theme($fc-light-theme);
  @include custom-components-theme($fc-light-theme);
}

.black-theme {
  @include angular-material-theme($fc-black-theme);
  @include custom-components-theme($fc-black-theme);
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.button-primary.mat-raised-button {
  background-color: #3f3f3f; 
}

.button-secondary.mat-raised-button {
  border: 1px solid #3f3f3f; 
}

.button-primary,
.button-secondary {
  span {
    font-family: 'Roboto', sans-serif;
  }
  i {
    font-size: 1.1rem;
    padding: 0 5px 3px 0;
    vertical-align: top;
  }
}

.button-primary span {
  font-weight: 700;
  color: #ffffff;  
}

.button-secondary span {
  font-weight: 500;
}

p.aclaration {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #081c22;  
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

h3.subtitle,
h4.subtitle {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 2rem;
  color: #081c22;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
} 

.flex-container {
  display: flex;
}

.flex-container.column {
  flex-direction: column;
}

.flex-container.space-between {
  justify-content: space-between;
}

.flex-container.align-space-between {
  align-content: space-between;
}

.flex-container.center {
  justify-content: center;
}

.flex-container.end {
  justify-content: flex-end;
}

.full-width {
  width: 100% !important;
}

/*SIDENAV*/

.sidenav-container, 
mat-sidenav-content {
  height: 100vh;
  overflow: hidden;
}

.sidenav,
.sidenav-link {
  width: 80px;
  background: #303030 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.sidenav-link {
  align-items: center;
  height: 80px;
  border: 0;
  color: #979797;
  cursor: pointer;
}

a.sidenav-link:hover mat-icon,
a.sidenav-link:hover p {
  color: #cccccc;
}

a.sidenav-link.active{
  color: #ffffff;
}

a.sidenav-link mat-icon {
  font-size: 2rem;
  text-align: center;
  width: auto;
}

a.sidenav-link p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
  margin: 10px auto 0 auto;
}

/*TREETABLE*/

.tree-table {
  margin: 30px 0;
  height: 55vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tree-table thead th,
.tree-table thead tr {
  color: #081c22;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: left;
  border-width: 0 0 2px 0;
  border-color: #081c22;
}

.tree-table thead th:first-child,
.tree-table thead tr:first-child {
  padding-left: 20px;
  width: 60%;
}

.tree-table tbody td:first-child {
  width: 60%;
}

.tree-table .ui-state-highlight {
  border-color: rgba(1,96,160,0.3);
  background:  rgba(1,96,160,0.3);
}

/*TABLE*/

.table-common.mat-table {
  margin: 30px 0;
  background: transparent;
}

.table-common.mat-table .mat-header-row{
  min-height: 30px;
  border-width: 0 0 2px 0;
  border-color: #081c22;

  .mat-header-cell {
    font-size: 0.9rem;    
    font-weight: 700;
    color: #081c22;
  }
}

/*TOOLBAR*/

.toolbar-accent.ui-toolbar,
.toolbar-default.ui-toolbar {
  padding: 20px;
}

.toolbar-accent.ui-toolbar.ui-widget-header {
  background: #ffffff;
  border: 2px solid #3f3f3f;
}

.toolbar-default.ui-toolbar.ui-widget-header {
  background-color: transparent;
  border: 1px solid #3f3f3f;
}

.toolbar-login {
  width: 600px;
  border: 2px solid #081c22;
  align-self: center;
  margin-top: 50px;
}

.status-box-left,
.status-box-right {
  border: 2px solid #081c22;
  background: #ffffff;
  width: 50%;
  padding: 20px;
}

.status-box-left {
  margin-right: 10px;
}

.status-box-right {
  margin-left: 10px;
}

/*EXPAND PANEL*/

.expand-panel.mat-expansion-panel{
  margin: 20px 0;
  box-shadow: none;
  background: transparent;
}

.expand-panel.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.expand-panel.mat-expansion-panel .mat-expansion-panel-header{
  padding-left: 0;
}

.expand-panel .mat-expansion-panel-body {
  margin: 0;
}

/*PROGRESS BAR*/

.progress-bar .ui-widget-content,
.progress-bar-small .ui-widget-content, {
  background: #e8e8e8;  
  border: none;
  height: 0.6em; 
}

.progress-bar .ui-widget-content {
  margin: 5px 0
}

.progress-bar-small .ui-widget-content {
  margin: 0 10px 0 0;
}

/*ERROR MESSAGES*/

.error-messages .ui-messages {
  margin: 20px 0 0 0;
  background: #ffffff;
  border: 2px solid #081c22;
  font-family: 'Roboto', sans-serif;
}

.error-messages .ui-messages,
.error-messages .ui-messages-close,
.error-messages .ui-messages-close:hover {
  color: #081c22;  
}

.error-messages .ui-messages-close {
  margin-right: 5px;
}

.error-messages .ui-messages-icon {
  width: 10%;
  vertical-align: top;
}

.error-messages .ui-messages ul {
  width: 85%;
}

.error-messages .ui-messages-summary {
  font-size: 1.1rem;
  font-weight: 500;
}

.error-messages .ui-messages-detail {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 300;
}

/*MODALS*/

.mat-dialog-content {
  height: auto;
  overflow: hidden;

  hr {
      margin: 0 0 15px 0;
  }
}

.browse-button,
.browse-location {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}

.browse-button label {
  border: 1px solid #3f3f3f; 
  font-weight: 500;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.browse-button label:active {
  background-color: #ECECEC;
}

.browse-location {
  padding-left: 15px;
  font-weight: 300;
  line-height: 35px;
}

.mat-dialog-actions {
  margin: 10px 0 10px 0;
  padding-bottom: 10px;
}

.mat-dialog-actions,
.mat-dialog-actions .button-primary,
.mat-dialog-actions .button-secondary{
  float: right;
}
