@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';
@import 'styles-reset';
@import 'app/app.component.scss-theme';
@import '~@angular/material/theming';
@include mat-core();
@import 'fcExplorer-theme';

.fcExplorer-theme {
    @include angular-material-theme($fcExplorer-theme);
}

@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin breakpoint($class) {
  @if $class == sm {
    @media (max-width: 1366px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 1367px) and (max-width: 1600px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1601px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: sm, md, lg";
  }
}

html, body, a, p, h1, h2, h3, h4, span, label, div {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  cursor: pointer;
}

p.aclaration {
  font-weight: 300;
  color: mat-color($fcExplorer-primary, 900); 
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

h3.subtitle {
  line-height: 2.4rem;
}

h4.subtitle {
  line-height: 2rem;
}

h3.subtitle,
h4.subtitle {
  margin: 0;
  color: mat-color($fcExplorer-primary, 900); 
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.flex-container {
  display: flex;
}

.flex-container.column {
  flex-direction: column;
}

.flex-container.space-between {
  justify-content: space-between;
}

.flex-container.align-space-between {
  align-content: space-between;
}

.flex-container.center {
  justify-content: center;
}

.flex-container.end {
  justify-content: flex-end;
}

.full-width {
  width: 100% !important;
}

/*BUTTONS*/

.button-primary,
.button-secondary {
  span {
    font-size: 1rem;
    line-height: 2.4rem;
  }
  i {
    font-size: 1.1rem;
    padding: 0 5px 3px 0;
    vertical-align: top;
  }
}

.button-primary span {
  font-weight: 700;
  color: white;  
}

.button-secondary span {
  font-weight: 500;
  color: mat-color($fcExplorer-accent);
}

.button-primary.mat-raised-button {
  background-color: mat-color($fcExplorer-accent);
  box-shadow: none !important;  
}

.button-secondary.mat-raised-button{
  border: 1px solid mat-color($fcExplorer-accent);
  background: transparent;
  box-shadow: none !important;
  transition: box-shadow .3s;  
}

.button-primary.mat-raised-button:hover,
.button-secondary.mat-raised-button:hover {
  box-shadow: 0 0 6px mat-color($fcExplorer-primary, 400) !important;
}

.button-primary.mat-raised-button:active{
  background-color: mat-color($fcExplorer-accent, 700);
}

.button-secondary.mat-raised-button:active {
  background-color: mat-color($fcExplorer-primary, 200);
}

[disabled].button-primary.mat-raised-button {
  background-color: mat-color($fcExplorer-accent, 200);
  box-shadow: none !important;  
}

[disabled].button-secondary.mat-raised-button {
  border: 1px solid mat-color($fcExplorer-primary, 400);
  box-shadow: none !important;
  background: transparent !important;  
  span {
    color: mat-color($fcExplorer-primary, 400);    
  }  
}

.button-icon,
.mat-paginator-range-actions .mat-icon-button,
.mat-paginator-navigation-next,
.mat-paginator-navigation-prev {
  background: transparent;
} 

[disabled].button-icon {
  color: mat-color($fcExplorer-primary, 400);
}

[disabled] .mat-paginator-decrement,
[disabled] .mat-paginator-increment {
  border-top: 2px solid mat-color($fcExplorer-primary, 400) !important;
  border-right: 2px solid mat-color($fcExplorer-primary, 400) !important;
}

.mat-paginator-decrement,
.mat-paginator-increment {
  border-top: 2px solid mat-color($fcExplorer-primary, 700) !important;
  border-right: 2px solid mat-color($fcExplorer-primary, 700) !important;
}

.transfer-icon {
  vertical-align: middle;
  font-size: 1.2rem;
  height: auto !important;
  width: auto !important;
  color: mat-color($fcExplorer-primary, 700); 
}

/*SIDENAV*/

.sidenav-container, 
mat-sidenav-content {
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.sidenav,
.sidenav-link {
  width: 80px;
  background: mat-color($fcExplorer-primary, 700); 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.sidenav-link {
  align-items: center;
  height: 80px;
  border: 0;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  @include Opacity(0.4);
}

a.sidenav-link:hover{
  @include Opacity(0.7);
}

a.sidenav-link.active{
  background-color: mat-color($fcExplorer-accent);
  @include Opacity(1);
}

a.sidenav-link mat-icon {
  font-size: 2rem;
  text-align: center;
  width: auto;
}

a.sidenav-link p {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
  margin: 10px auto 0 auto;
}

/*TREETABLE*/

.tree-table {
  margin: 30px 0;
  overflow-y: scroll;
  overflow-x: hidden;
  
  @include breakpoint(sm) {
    height: 55vh;
  }
  @include breakpoint(md) {
    height: 58vh;
  }
  @include breakpoint(lg) {
    height: 66vh;
  }
}

.tree-table thead th,
.tree-table thead tr {
  color: mat-color($fcExplorer-primary, 900); 
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: left;
  border-width: 0 0 2px 0;
  border-color: mat-color($fcExplorer-primary, 900); 
  background: white;
}

.tree-table thead th:first-child,
.tree-table thead tr:first-child {
  padding-left: 20px;
  width: 60%;
}

.tree-table tbody td:first-child {
  width: 60%;
}

.tree-table .ui-state-highlight {
  border-color: mat-color($fcExplorer-accent, 300); 
  background: mat-color($fcExplorer-accent, 300);
}

/*TABLE*/

.table-container,
.table-container .table-common.mat-table {
  @include breakpoint(sm) {
    height: 55vh;
  }
  @include breakpoint(md) {
    height: 60vh;
  }
  @include breakpoint(lg) {
    height: 64vh;
  }
}

.table-common.mat-table {
  margin: 0 0 20px 0;
  background: transparent;
  overflow: auto;
}

.table-common.mat-table .mat-header-row{
  border-width: 0 0 2px 0;
  border-color: mat-color($fcExplorer-primary, 900);
  min-height: 35px; 

  .mat-header-cell {
    font-size: 0.9rem;    
    font-weight: 700;
    color: mat-color($fcExplorer-primary, 900); 
  }
}

/*TOOLBAR*/

.toolbar-accent.ui-toolbar{
  padding: 20px;
}

.toolbar-accent.ui-toolbar.ui-widget-header,
.status-box-left,
.status-box-right {
  background: mat-color($fcExplorer-primary, 100); 
  border: 1px solid mat-color($fcExplorer-primary, 400); 
}

.toolbar-login {
  width: 600px;
  border: 2px solid mat-color($fcExplorer-primary, 900); 
  align-self: center;
  margin-top: 85px;
}

.warn-message {
  margin-right: 40px;
  line-height: 2.4rem;
  display: inline;
  font-weight: 700;
  color: mat-color($fcExplorer-warn, 900); 
}

.status-box-left,
.status-box-right {
  width: 50%;
  padding: 20px;
}

.status-box-left {
  margin-right: 10px;
}

.status-box-right {
  margin-left: 10px;
}

/*EXPAND PANEL*/

.expand-panel.mat-expansion-panel {
  margin: 0;
  height: 50px !important;
  box-shadow: none;
  background: transparent;
}

.expand-panel.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.expand-panel.mat-expansion-panel .mat-expansion-panel-header.mat-expanded,
.expand-panel.mat-expansion-panel .mat-expansion-panel-header,
.mat-expansion-panel-header.ng-animating {
  padding: 0 !important;
  transition: all 0.2s ease;
}

.expand-panel.mat-expansion-panel .mat-expansion-panel-header:hover{
  color: mat-color($fcExplorer-primary, 500); 
}

.expand-panel .mat-expansion-panel-body {
  margin: 0;
  padding: 0;
}

/*PROGRESS*/

.progress-bar .ui-widget-content,
.progress-bar-small .ui-widget-content, {
  background: mat-color($fcExplorer-primary, 300);   
  border: none;
  height: 0.6em; 
  border-radius: 1px;
}

.progress-bar .ui-widget-header,
.progress-bar-small .ui-widget-header, {
  background: mat-color($fcExplorer-accent); 
  border-radius: 0;  
}

.progress-bar .ui-widget-content {
  margin: 5px 0
}

.progress-bar-small .ui-widget-content {
  margin: 0 10px 0 0;
}

.progress-spinner,
.mat-progress-spinner {
  position: absolute !important;
  top: 0;
  left: 25px;
}

.progress-spinner circle,
.mat-spinner circle {
  stroke: mat-color($fcExplorer-accent);
}


/*ERROR MESSAGES*/

.error-messages .ui-messages {
  margin: 20px 0 0 0;
  padding: 1em;
  background: mat-color($fcExplorer-warn, 50); 
  border: 1px solid mat-color($fcExplorer-warn, 900); 
}

.error-messages .ui-messages,
.error-messages .ui-messages-close,
.error-messages .ui-messages-close:hover {
  color: mat-color($fcExplorer-warn, 900);   
}

.error-messages .ui-messages-close {
  margin-right: 5px;
}

.error-messages .ui-messages-icon {
  width: 35px;
  vertical-align: top;
  margin-right: 5px;
}

.error-messages .ui-messages ul {
  width: 85%;
}

.error-messages .ui-messages-summary {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 3px;
  vertical-align: middle;
}

.error-messages .ui-messages-detail {
  display: block;
  margin-top: 5px;
  font-size: 0.85rem;
  font-weight: 300;
}

/*MODALS*/

.mat-dialog-content {
  height: auto;
  overflow: hidden;
  z-index: 100;

  hr {
      margin: 0 0 15px 0;
  }
}

.browse-button,
.browse-location {
  font-size: 0.9rem;
}

.browse-button label {
  border: 1px solid mat-color($fcExplorer-primary, 900); 
  font-weight: 500;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.browse-button label:active {
  background-color: mat-color($fcExplorer-primary, 200); 
}

.browse-button label:hover {
  box-shadow: 0 0 6px mat-color($fcExplorer-primary, 400) !important;
}

.browse-location {
  padding-left: 15px;
  font-weight: 300;
  line-height: 35px;
}

.mat-dialog-container {
  background: white;
}

.mat-dialog-actions {
  margin: 10px 0 10px 0;
  padding-bottom: 10px;
}

.mat-dialog-actions,
.mat-dialog-actions .button-primary,
.mat-dialog-actions .button-secondary{
  float: right;
}

.dialog-checkbox {
  display: block;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: mat-color($fcExplorer-accent) !important;
}

/*SELECT and AUTOCOMPLETE*/

.mat-select-panel,
.mat-autocomplete-panel {
  background: white;
}

.mat-option:hover {
  background-color: mat-color($fcExplorer-primary, 200);  
}

.mat-input-underline {
  background-color: mat-color($fcExplorer-primary, 700);  
}

/*PAGINATOR*/

.paginator.mat-paginator {
  margin-bottom: 20px;
}
